.input-label {
	font-family: avenir;
	font-size: 20px;
	color: #0000CD;
}

img {
	margin-top: 60px;
	width : 300px;
	height: 130px;
}

.button {
	font-family: avenir;
	border: none;
}

#login {
	margin-left: 125px;
	background-color: #0000CD;
	font-size: 12px;
	color: white;
	width: 70px;	
	padding: 1px 1px;
	}

#signUp {
	background-color: white;
	color: #0000CD;
	font-size: 10px;
}

#password {
	padding: 1px;
	background-color: white;
	color: #0000CD;
	font-size: 10px;
}



