
<ion-view hide-nav-bar = "true">
  <div class="upage" id="mainpage">
      <div class="upage-outer fixed-header-footer">
          <div class="upage-content ac0 content-area vertical-col left" id="page_85_62">

              <div class="widget uib_w_1 scale-image d-margins" data-uib="media/img" data-ver="0">
                  <figure class="figure-align" align = "middle">
                      <img src="img/Logo3.png">
                      <figcaption data-position="center"></figcaption>
                  </figure>
                  <br><br><br>
                  <form>
                  <div class="list list-inset">
                    <label class="item item-input">
                      <span id="userEmail" class="input-label">E-mail</span>
                        <input type="text" ng-model="loginEmail">
                    </label>

                    <label class="item item-input">
                      <span id="userPassword" class="input-label">Password</span>
                        <input type="password" ng-model="loginPassword">
                    </label>
                  </div>
                </form>
              <div align = "middle">
                <button id="loginButton" class="button button-royal" align = "middle" ng-click="login()">
                  Login
                </button>
                <br><br>
                <p id="signUpButtonText">Don't have an account? <a id="signUpButton" ui-sref="signup">SignUp</a></p>
                <p><a ui-sref="forgotPass" id="forgotPassButton">Forgot your password?</a></p>

              </div>
          </div>
      </div>
  </div>
</ion-view>
