<html>
<head>
  <script src="lib/jQuery/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</head>
<body>
  <ion-header-bar class="bar-stable bar-royal">
    <button class="button button-icon icon ion-chevron-left button-clear" ui-sref="home"></button>
    <figure>
      <img id = "headImg" src = "img/LogoHead.png">
    </figure>
    <button class="button button-clear button-royal">Edit</button>
  </ion-header-bar>
  <div align = "middle">
    <p id = "text">Welcome to Spoken Everywhere! Please fill in your details below...</p>
  </div>
  <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">First Name</span>
      <input id="newFirstName" type="text" placeholder="John" ng-model="firstname">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Last Name</span>
      <input id="newLastName" type="text" placeholder="Smith" ng-model="lastname">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Age</span>
      <input id="newAge" type="text" placeholder="18" ng-model="age">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Email</span>
      <input id="newEmail" type="text" placeholder="john@smith.com" ng-model="email">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label" ng-scope="password">Password</span>
      <input id="newPassword" type="password" ng-model="password">
    </label>
    <!-- <label class="item item-input item-stacked-label">
      <span class="input-label">Confirm Password</span>
      <input id="newConfirmPassword" type="password">
    </label> -->
    <div align = "middle">
      <br><br>
      <button id="signUpFormButton" class="button button-royal" align = "middle" ng-click="signup()">
        Sign Up
      </button>
    </div>
  </div>
</body>
</html>
